<!--左から判断される-->
<% if member_signed_in? && post.bookmarked_by?(current_member) %>
  <td>
    <%= link_to post_bookmark_path(post, post.bookmarked(current_member).id), method: :delete do %>
      ★
    <% end %>
  </td>
<% else %>
  <td>
    <%= link_to post_bookmarks_path(post), method: :post do %>
      ☆
    <% end %>
  </td>
<% end %>