<h1>投稿一覧</h1>
  <div class="row">
    <div class="col-3">
      <div>
        <h5>カテゴリ</h5>
      </div>
      <div>
        <h5>地域</h5>
      </div>
    </div>
    <div class="col-9">
      <div>
        <!--検索結果-->
      </div>
    </div>

  </div>
