<div class="container">
  <h5>タグが<%=@tag.name%>の投稿一覧</h5>



  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title"><%= post.name %></h5>
            <div class="card-text">
              <%# 長さ微調整お願いします %>
              <%= simple_format(post.description.truncate(15)) %>
            </div>
            <div class="text-right">
              <small><%= post.created_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日 %H:%m") %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
