<div class="container my-5">
  <div class="row my-4 ml-5 px-5">
    <h2 class="px-3">管理者ログイン</h2>
  </div>
  <div class="mx-5 px-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table table-borderless ml-5">
          <tr>
            <td style="width: 270px;">メールアドレス</td>
            <td><%= f.email_field :email, autocomplete: "email" %></td>
           </tr>
          <tr>
            <td style="width: 270px;">パスワード</td>
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
           </tr>
          <tr>
            <td style="width: 270px;"></td>
            <td><%= f.submit "ログイン", class: "btn btn-success" %></td>
          </tr>
      </table>
    <% end %>
  </div>
</div>