<div class="about_visual" style="box-sizing: content-box; min-height: 60vh;">
  <div class="about_visual_content">
    <p style="font-size: 42px;">About</p>
    <p style="font-size: 28px;">SSS(Self Study Spots)では、勉強や仕事ができる場所の情報を投稿、閲覧することができます。</p>
  </div>
</div>