<div class="container my-5" style="box-sizing: content-box; min-height: 60vh;">
  <div class="about_visual">
    <div class="about_visual_content pt-5">
      <p style="font-size: 38px;">About</p>
      <p style="font-size: 25px;">SSSでは、勉強や仕事ができる場所の情報を投稿、閲覧することができます。</p>
    </div>
  </div>
</div>