<h2>トップ画面</h2>
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col-9">
      <div>
        <!--大きめの画像-->
      </div>
      <div>
        <!--新着投稿５つ程表示-->
      </div>
    </div>

  </div>