@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sawarabi Gothic', sans-serif;
}

#map{
  height: 280px;
  width: 480px;
}

.search_form-word {
  width: 270px;
}


footer{
bottom: 0;
height: 60px;
width: 100%;
padding-bottom: 20px;
color: white;
box-sizing: content-box;
}

h2 {
  background-color: #eaeaea;
}

h4 {
  background-color: #eaeaea;
}


// 以下、検索ボックス用
.search_container {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #000;
  display: block;
  height: 2.3em;
  width: 242px;
  overflow: hidden;
}

.search_container input[type="text"] {
  border: none;
  height: 2.3em;
  padding: 0 10px;
}

.search_container input[type="text"]:focus {
  outline: 0;
}

.search_container button {
  cursor: pointer;
  border: none;
  background: #4169e1;
  color: #eee;
  position: absolute;
  width: 3rem;
  height: 3.2rem;
  right: 0;
  top: -7px;
  outline: none;
}