@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sawarabi Gothic', sans-serif;
}

body{
  // background-color: #f7f7f7;
  background-image: url("../images/white_00076.jpg");
  background-size: cover;
  min-height: 100vh;
}


// 以下二つaboutページ
.about_visual{
  width: 100%;
  height: 700px;
  background-image: url("../images/hd-wallpaper-g57d0ab0a0_1920.jpg");
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}

.about_visual_content{
  width: 100%; /* 横幅いっぱい */
  height: 700px; /* 親の高さに揃える */
  background-color: rgba(0, 0, 0, 0.3); /* 背景色を半透明の黒にする */
  text-align: center; /* 文字を中央揃えにする */
  color: rgba(225,225,225,0.8);
  padding-top: 10%;
}

#map{
  height: 280px;
  width: 480px;
}

.search_form-word {
  width: 270px;
}


footer{
bottom: 0;
height: 60px;
width: 100%;
padding-bottom: 20px;
color: white;
box-sizing: content-box;
}

h2 {
  background-color: #e9e9e9;
}

h4 {
  background-color: #e9e9e9;
}


// 以下、検索ボックス用
.search_container {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #000;
  display: block;
  height: 2.3em;
  width: 242px;
  overflow: hidden;
}

.search_container input[type="text"] {
  border: none;
  height: 2.3em;
  padding: 0 10px;
}

.search_container input[type="text"]:focus {
  outline: 0;
}

.search_container button {
  cursor: pointer;
  border: none;
  background: #4169e1;
  color: #eee;
  position: absolute;
  width: 3rem;
  height: 3.2rem;
  right: 0;
  top: -7px;
  outline: none;
}