<%= form_with model: [post, post_comment], local: false do |f| %>
  <!--エラーメッセージ-->
  <%= render 'layouts/error_messages', model: f.object %>
  <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", :size => "70" %>
  <p style="text-align: end;"><%= f.submit "送信する", class: "btn btn-success" %></p>
<% end %>