<div class="col-5" style="text-align: center;">
  <% if flash[:notice] %>
    <p class="alert alert-success"><%= notice %></p>
  <% elsif flash[:alert] %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>
