<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
        <a class="navbar-brand" href="/">SSS<a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div>
        検索フォーム
      </div>
        <ul class="navbar-nav">
  <!--リンクを実装-->
          <% if member_signed_in? %>
            <li class="nav-item mr-3 btn  btn- btn-dark">
              マイページ
            </li>
            <li class="mx-3 btn  btn- btn-dark">
              投稿一覧
            </li>
            <li class="mx-3 btn  btn- btn-dark">
              会員一覧
            </li>
            <li class="mx-3 btn  btn- btn-dark">
              ログアウト
            </li>
          <% elsif admin_signed_in? %>
            <li class="mx-3 btn  btn- btn-dark">
              投稿一覧
            </li>
            <li class="mx-3 btn  btn- btn-dark">
              会員一覧
            </li>
            <li class="mx-3 btn  btn- btn-dark">
              タグ一覧
            </li>
            <li class="mx-3 btn  btn- btn-dark">
              ログアウト
            </li>
          <% else %>
            <li class="mx-3 btn  btn btn-dark">
              アバウト
            </li>
            <li class="mx-3 btn  btn- btn-dark">
              投稿一覧
            </li>
            <li class="mx-3 btn  btn- btn-dark">
              新規会員登録
            </li>
            <li class="mx-3 btn  btn- btn-dark">
              ログイン
            </li>
          <% end %>
        </ul>
        <!--ボタン下に検索フォームを追加-->
      </div>
    </div>
</nav>